* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',
        sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0px;
}

.header {
    background: #2D25A0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 4rem;
}

.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 18px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFFFFF;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2.25rem;
}

.nav-link {
    font-size: 1rem;
    font-weight: 5000;
    color: #FFFFFF;
}

.nav-link:hover {
    color: black;
}
a.log-btn {
    background: #E02C6D;
    padding: 10px 24px;
    color: #FFFFFF;
    transition: all 0.5s;
}

.log-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.log-btn:hover span {
    padding-right: 25px;
}

.log-btn:hover span:after {
    opacity: 1;
    right: 0;
}

a.log-btn i {
    margin-right: 8px;
}
.banner {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-bottom: 86px;
    margin-top: 50px;
}

.heading {
    margin-right: 130px;
    padding-left: 100px;
}

.heading h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

a.live-btn {
    width: 172px;
    height: 44px;
    text-align: center;
    display: inline-block;
    position: relative;
    text-transform: capitalize;
    background: #E02C6D;
    padding: 10px 24px;
    color: #FFFFFF;
    overflow: hidden;
}

.live-btn.effect-1 {
    transition: all 0.2s linear 0s;
}

.live-btn.effect-1:before {
    content: "\f061";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
}

.live-btn.effect-1:hover {
    text-indent: -20px;
}

.live-btn.effect-1:hover:before {
    opacity: 1;
    text-indent: 0px;
}
a.live-btn i {
    margin-left: 8px;
}

.poster img {
    width: 556px;
    height: 440px;
    margin-left: 110px;
}

.profiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.profile {
    width: 330px;
    min-height: 474px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    padding: 15px;
}

.profile:hover {
    transform: translateY(-4px);
}

.profile img {
    width: 300px;
    height: 256px;
}



#testimonial{
    width:100% ;
    padding-top: 70px 0;
}
.testimonial-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}
.testimonial-col{
    width: 330px;
    min-height: 200px;
    height: 100%;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 2px rgba(29, 161, 242, 0.3);
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.testimonial-col:hover {
    transform: scale(1.3);
}
.testimonial-col p{
    font-size: 14px;

}
.title-text{
    text-align: center;
    margin: auto;
    padding-bottom: 70px;

}
.title-text h1{
    font-size: 40px;
    color: black;
    font-weight: bold;
    display: inline-block;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .fab{
    margin-left:10px ;
    color:#27c0ff;
    font-size: 20px;
}
.user-info small{
    color: #009688;
}

/* Highlights start */
.highlights-title {
    font-weight: 700;
    color: #173562;
    margin-bottom: 20px;
}

.highlights-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px;
    padding-top: 36px;
    cursor: pointer;
}

.highlights {
    width: 370px;
    min-height: 420px;
    height: 100%;
    border-radius: 5px;
}

.highlights img {
    width: 100%;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.highlights:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.highlights span {
    color: #707070;
    text-transform: uppercase;
    font-family: Ubuntu,
        Arial,
        sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.highlights p {
    font-size: 24px;
    font-weight: 700;
    font-family: Ubuntu,
        Arial,
        sans-serif;
    color: rgba(0, 0, 0, .8) !important;
}

a.news-links {
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.news-section {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 20px;
    cursor: pointer;
    width: 100%;
    color: #707070;
    text-transform: uppercase;
}
/* Highlights end */

/* footer start */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-logo img{
    width:480px;
    height:110px;
}
.social-icons{
    margin-top: 20px;
}
.social-icons ul li {
    float: left;
}
footer .social-fab {
    background-color: lightsteelblue;
    border-radius: 50%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
}
/* footer end */